*,
::after,
::before{
  box-sizing: border-box;}
  
  .container{
    width: 1340;
    margin: 0 auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    background-image: url(..//img/bg.svg);
    align-items: center;
  }
  .forms{
    text-align: center;
    
  }
  .forms-title{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.520833px;
    color: #FFFFFF;
  }
  .forms-text{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
  }
  .free{
    margin-top: 121px;
  }
  .try{
    background: #5E54A4;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 17px 110px;
    margin-top: 20px;
  }
  .try span{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.267857px;
    color: #FFFFFF;
  }
  .claim-item{
  }
  .claim{
    width: 462px;
    height: 56px;
    padding: 15px 134px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #FFFFFF;
    background: #38CC8B;
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
    border-radius: 5px;
    margin-left: 55px;
  }
  .form{
    background: #FFFFFF;
    box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
    border-radius: 10px;
    width: 100%;
    margin-top: 34px;
    
  }
  
  .fname input{
    border: none;
    background: #FFFFFF;
    border: 1px solid #5E54A4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 460px;
    height: 56px;
    margin-top: 40px;
  }
  .fname input:hover{
    border: 2px solid #5E54A4;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  .last-name input{
    border: none;
    background: #FFFFFF;
    border: 1px solid #5E54A4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 460px;
    height: 56px;
    margin-top: 40px;
  }
  .last-name input:hover{
    border: 2px solid #5E54A4;
    box-sizing: border-box;
    border-radius: 5px;
  }
  
  
  
  .email input{
    border: none;
    background: #FFFFFF;
    border: 1px solid #5E54A4;
    box-sizing: border-box;
    border-radius: 5px;
    width: 460px;
    height: 56px;
    margin-top: 40px;  }
    
    .email input:hover{
      border: 2px solid #5E54A4;
      box-sizing: border-box;
      border-radius: 5px;
    }
    
    
    
    .password input{
      border: none;
      background: #FFFFFF;
      border: 1px solid #5E54A4;
      box-sizing: border-box;
      border-radius: 5px;
      width: 460px;
      height: 56px;
      margin-top: 40px;  }
      
      .password input:hover{
        border: 2px solid #5E54A4;
        box-sizing: border-box;
        border-radius: 5px;
      }
      
      .forms-footer{
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 11px;
        line-height: 26px;
        text-align: center;
        color: #BAB7D4;
      }
      .terms{
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        color: #FF7979;
      }
      
